#message {
  display:none;
  background: none;
  color: #000;
  position: relative;
  padding: 1px;
  margin-top: 1px;
}

#message p {
  padding: 1px 1px;
  font-size: 18px;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: lightgreen;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
  .b1{
    color:white;
    background-color:blue;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, blue, skyblue);
    border: none;
    border-radius: 3px;
}
.b1:hover{
    color:white;
    background-color:blue;
    background-image: linear-gradient(to bottom right, #0B0B61, #0101DF);
    border: none;
    border-radius: 3px;
}

  